.services {
  min-height: 100vh;
  width: 100%;
  color: var(--azul);
  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: #d9d9d9;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23747c8f' fill-opacity='0.1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @media (max-width: 1024px) {
    min-height: 120vh;
  }



  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 32px;
  }

  .linha {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
    background-color: var(--azulApagado);
    height: 3px;
    opacity: .50;

    @media (max-width: 425px) {
      width: 80%;
    }
  }

  .titulo {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font-merriweather)
  }

  .body {
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
      padding-bottom: 100px;
    }

    @media (max-width: 425px) {
      padding-bottom: 75px;
    }

  }

  .tabs {
    width: 100%;
    height: 550px;
    background: var(--azul);
    padding: 2rem 1rem;
    color: var(--branco);
    border-radius: 2rem;
    box-shadow: 5px 5px 10px 0px #00000053;

    @media (max-width: 1024px) {
      padding: 2rem 0;
      width: 90%;
      margin: auto;
      height: 100%;
    }


    ul.nav {
      width: 92%;
      margin: 0 auto 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--branco);
      font-size: 1rem;
      font-family: var(--font-merriweather);
      display: flex;
      justify-content: center;
      text-align: center;

      @media (max-width: 768px) {
        width: 90%;
        flex-wrap: wrap;
      }
    }

    ul.nav li {
      width: 100%;
      height: 100%;
      padding: 1rem;
      list-style: none;
      text-align: center;
      cursor: pointer;
      transition: all 0.7s;
      display: flex;
      gap: 10px;

      @media (max-width: 769px) {
        width: 100%;
      }
    }

    ul.nav li:nth-child(2) {
      border-radius: 0;
      // border-bottom-right-radius: 2rem;
      // border-top-right-radius: 2rem;
    }

    ul.nav li:hover {
      background: rgba(50, 224, 196, 0.15);
      border-bottom: 3px solid var(--branco);
    }

    ul.nav li.active {
      background: #39a2db7f;
      border-bottom: 3px solid var(--branco);
    }

    .outlet {
      width: 92%;
      margin: auto;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .content {
      width: 100%;
      display: grid;
      gap: 30px;
      grid-template-columns: 30% 70%;
      height: 75%;
      font-family: var(--fontCorpo);

      @media (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
      }

      @media (max-width: 425px) {
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: auto;
      }
    }

    .imagem {
      height: 100%;
      width: 100%;
      grid-row: span 3;
      border-radius: 20px;

      @media (max-width: 425px) {
        height: 300px;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin: auto;
        height: 400px;
        grid-row: span 2;
      }
    }

    .bulletList {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .item {
      display: flex;
      gap: 15px;
    }

    .descricao {
      font-size: 1.3rem;
      width: 90%;

      @media (max-width: 425px) {
        font-size: 1.2rem;
      }

      @media (max-width: 768px) {
        font-size: 1.3rem;
        width: 90%;
      }
    }

    .cta {
      font-family: var(--fontTitulos);
      text-decoration: none;
      color: white;
      padding: 15px 30px;
      background-color: var(--laranja);
      width: 50%;
      text-align: center;
      border-radius: 20px;
      box-shadow: 5px 5px 10px 0px #00000053;
      transition: all .5s;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 5px 5px 10px 0px #00000053;
      transition: .3s;
      cursor: pointer;

      &:hover {
        color: var(--laranja);
        background-color: white;
        border: 3px solid var(--laranja);
      }

      @media (max-width: 768px) {
        width: 95%;
        grid-column: span 2;
      }

      @media (max-width: 425px) {
        width: 100%;
      }
    }
  }

}