.testimonials {
  background-color: var(--cinzaClaro);

  .container {
    max-width: 1200px;
    padding: 60px 20px;
    margin: 0 auto;
  }

  h2 {
    color: var(--azul);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .linha {
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--azulApagado);
    height: 3px;
    opacity: .50;
    border: none;
  }

  .botao {
    width: 220px;
    height: 70px;
    margin: auto;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--laranja);
    color: var(--branco);
    font-family: var(--fontTitulos);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 10px 0px #00000053;
  }

  .botao:hover {
    background-color: var(--branco);
    color: var(--laranja);
    transform: scale(110%);
  }

  .icon {
    fill: var(--laranja);
    stroke: var(--laranja);
    ;
  }

  .icon:hover {
    fill: var(--branco);
    stroke: var(--branco);
  }

  .card {
    background-color: var(--branco);
    border: 2px var(--azul) solid;
    color: var(--azul);
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 75px auto;
    width: 550px;
    padding: 25px;
    border-radius: 20px;
    transition: all 1s linear;

    @media (max-width: 48rem) {
      display: flex;
      width: 450px;
      padding: 25px;
      gap: 20px;
      border-radius: 20px;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  .imagem {
    width: 350px;
    height: 350px;

    @media (max-width: 48rem) {
      width: 250px;
      height: 250px;
    }

  }
}