.hero {
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(135deg, #FCFCFC 0%, #D8D6D6 100%);
  height: 100vh;
  font-family: var(--fontCorpo);
  color: var(--azul);

  .container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: 50% 50%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  .content {
    h1 {
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 20px;
      font-weight: 700;
    }

    p {
      font-size: clamp(16px, 2vw, 18px);
      line-height: 1.6;
      margin-bottom: 30px;
    }
  }

  .ctaPrimary {
    background: var(--laranja);
    color: var(--branco);
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    font-size: 1.3rem;
    font-family: var(--fontTitulos);

    &:hover {
      box-shadow: 0 10px 20px rgba(102, 126, 234, 0.4);
    }
  }

  .imageContainer {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
      height: 300px;
    }

    img {
      height: 600px;
      width: 500px;
      margin-right: 0;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 5px 5px 10px 0px #00000053;
    }
  }

  .solutionsList {
    color: var(--azul);
    list-style: none;

    & li {
      display: flex;
      gap: 20px;
      margin-bottom: 10px;
      align-items: flex-start;
    }

    & li img{
      margin-top: 5px;
    }
  }

  .iconeWhatsapp {
    width: 20px;
    height: 20px;
  }
}