.results {
  min-height: 550px;
  width: 100%;
  background-color: var(--azulPerolado);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.25) inset;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-200px * 6))
    }
  }

  .slider {
    background: inherit;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    // width: 100vw;
    width: 400px;

    &::before,
    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
      height: 100px;
      position: absolute;
      width: 100px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slideTrack {
      animation: scroll 50s linear infinite;
      display: flex;
      width: calc(100px * 6);
      // overflow-y: hidden;
    }

    .slide {
      // height: 100px;
      // width: 250px;
    }
  }

  .container {
    max-width: 1200px;
    padding: 60px 20px;
    margin: 0 auto;

    h2 {
      color: var(--branco);
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  .empresas {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    flex-wrap: wrap;
  }

  .linha {
    max-width: 750px;
    margin: 0 auto;
    background-color: var(--azulApagado);
    height: 3px;
    opacity: .50;
    border: none;
  }

  .numeros {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    font-size: 1.3rem;
    align-items: center;
    font-family: var(--fontTitulos);
    padding-top: 80px;
    width: 80%;
    margin: auto;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 50%);
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 10px;
    }
  }

  .numero {
    display: flex;
    font-size: 2rem;
  }
}