.container {
  background-color: var(--branco);
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 30% 60% 10%;
  max-width: 1400px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  height: 75px;
  color: var(--azul);
  align-items: center;
  box-shadow: 5px 5px 10px 0px #00000053;
  z-index: 1000;
  box-sizing: border-box;
  opacity: .75;
  font-family: var(--font-merriweather);


  @media (max-width: 48rem) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: .85;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: var(--azul);
  }

  & ul {
    list-style: none;
    /* Remove bullet points */
    margin: 0;
    padding: 0;
  }

  & ul li a {
    // color: #333;
    color: var(--azul);
    text-decoration: none;
    /* Remove default underline */
    padding: 10px 20px;
    display: block;
    /* Make the entire area clickable */
    position: relative;
    /* Crucial for positioning the line */
    overflow: hidden;
    /* Ensures the line animation is contained */
  }

  & ul li a:hover {
    font-weight: bold;
  }

  & ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    /* Position the line at the top */
    left: 0;
    width: 100%;
    height: 3px;
    /* Thickness of the line */
    background-color: var(--azul);
    /* Color of the line */
    transform: scaleX(0);
    /* Initially hide the line */
    transform-origin: left;
    /* Animation starts from the left */
    transition: transform 0.3s ease;
    /* Smooth transition for the animation */
  }

  & ul li a:hover::after {
    content: "";
    transform: scaleX(1);
    font-weight: bold;
    /* Expand the line to full width */
  }

  .icones {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    justify-content: flex-end;

    img {
      cursor: pointer;
    }

    @media (max-width: 48rem) {
      display: none;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;

    @media (max-width: 48rem) {
      margin-left: 0;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-right: 0;

    @media (max-width: 48rem) {
      display: block;
      position: absolute;
      top: 70px;
      right: 0;
      padding: 1rem;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
      border-radius: .2rem;
      transform: translateX(-10px);
      opacity: 0;
      pointer-events: none;
    }
  }

  .mobileButton {
    background: #eee;
    border-radius: .2rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .2s;
    cursor: pointer;
    padding: 0;
  }

  .mobileButton::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: .1s;
  }

  .mobileButton:hover,
  .mobileButton:focus,
  .mobileButtonActive {
    color: var(--azul);
    outline: none;
    background: white;
    box-shadow: 0 0 3px var(--azulApagado);;
    border-color: var(--azul);
  }

  .mobileButtonActive::after {
    content: "";
    transform: rotate(-90deg);
    height: 4px;
    width: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
  }

  .navMobile {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border-radius: .2rem;
    transform: translateX(-10px);
    opacity: 0;
    pointer-events: none;
  }

  .navMobileActive {
    transition: .3s;
    transform: initial;
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
    box-shadow: 5px 5px 10px 0px #00000053;
  }
}