.hero {
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(135deg, #FCFCFC 0%, #D8D6D6 100%);
  height: 100vh;
  font-family: 'Open Sans';

  .container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: 50% 50%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  .content {
    h1 {
      // font-size: clamp(28px, 5vw, 48px);
      font-size: 2.25rem;
      line-height: 1.2;
      // color: #1a1a1a;
      margin-bottom: 20px;
      font-weight: 700;
    }

    p {
      font-size: clamp(16px, 2vw, 18px);
      line-height: 1.6;
      color: #555;
      margin-bottom: 30px;
    }
  }

  // .cta {
  //   display: flex;
  //   gap: 15px;
  //   flex-wrap: wrap;

  //   @media (max-width: 480px) {
  //     flex-direction: column;
  //   }

  //   button {
  //     padding: 14px 32px;
  //     border-radius: 8px;
  //     font-size: 16px;
  //     font-weight: 600;
  //     cursor: pointer;
  //     border: none;
  //     transition: all 0.3s ease;

  //     &:hover {
  //       transform: translateY(-2px);
  //       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  //     }
  //   }
  // }

  .ctaPrimary {
    background: var(--laranja);
    color: var(--branco);
    width: 250px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: var(--fontTitulos);

    &:hover {
      box-shadow: 0 10px 20px rgba(102, 126, 234, 0.4);
    }
  }

  .imageContainer {
    // width: 100%;
    // height: 100%;
    display: flex;
    justify-content: flex-end;
    // align-self: flex-end;

    @media (max-width: 768px) {
      height: 300px;
    }

    img {
      height: 600px;
      width: 500px;
      margin-right: 0;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 5px 5px 10px 0px #00000053;
    }
  }

  .solutionsList {
    color: var(--azul);
  }

  .iconeWhatsapp {
    // background-color: var(--branco);
    width: 30px;
    height: 30px;
    // color: var(--branco);
    fill: var(--branco);
  }
}