.problems {
  min-height: 120vh;
  color: var(--azul);
  background: url("/images/Rectangle.png"), linear-gradient(135deg, #FCFCFC 0%, #D8D6D6 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    max-width: 1200px;
    margin: auto;
    width: 100%;

    .titulo {
      text-align: center;
      font-size: 1.8rem;
      padding-top: 50px;
      font-weight: normal;
      padding-bottom: 20px;
    }

    strong {
      font-weight: bold;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 40px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin: 40px;
    }
  }

  .linha {
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--azulApagado);
    height: 3px;
    opacity: .50;
  }

  .divisor {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .problemsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .rodape {
    margin-top: 50px;
    text-align: center;
    font-weight: lighter;

    @media (max-width: 768px) {
      padding-bottom: 30px;
    }
  }

  .tituloSessao {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .sessao,
  .sessaoDireita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .sessao {
    margin-right: 30px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  .sessaoDireita {
    margin-left: 30px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  .problemsList {
    list-style-type: none;
  }

  .problemsList li {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  // .problemsList li {
  //   list-style-image: url("/images/logos/close_red.svg");
  //   background-size: 6px 6px;
  //   padding-left: 15px;
  //   line-height: 2.5em;
  // }
}