.presentations {
  min-height: 120vh;
  padding: 40px 0;
  background-color: var(--branco);
  color: var(--azul);
  display: flex;

  .container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;

    @media (max-width: 48rem) {
      display: flex;
      flex-direction: column;
    }

  }

  .linha {
    width: 100%;
    margin: 0 auto;
    background-color: var(--azulApagado);
    height: 3px;
    opacity: .50;
    margin-bottom: 50px;

    @media (max-width: 48rem) {
      width: 80%;
    }
  }

  .titulo {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 2px;

    @media (max-width: 48rem) {
      text-align: center;
    }
  }

  .imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;

    @media (max-width: 48rem) {
      justify-content: center;
      padding: 50px 0;
    }
  }

  .imagem:nth-child(2),
  .imagem:nth-child(3) {
    @media (max-width: 48rem) {
      display: none;
    }
  }

  .imagem {
    box-shadow: 5px 5px 10px 0px #00000053;
    border-radius: 22px;
  }

  .imagem:hover {
    transform: scale(120%);
    cursor: pointer;
    transition: .5s;
  }

  .paragrafo {
    margin-bottom: 20px;
    font-family: var(--fontCorpo);
  }

  .textos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    gap: 10px;

    @media (max-width: 48rem) {
      align-items: center;
      width: 80%;
    }
  }
}