.process {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--azul);
  min-height: 100vh;
  font-family: var(--fontCorpo);
  color: var(--branco);

  .linha {
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--azulApagado);
    height: 3px;
    opacity: .50;
  }

  .container {
    max-width: 1200px;
    padding: 60px 20px;
    margin: 0 auto;

    h2 {
      color: var(--branco);
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }
}